body {
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.ham .menu-row {
    padding: 15px;
}


.ham .menu-row a {
    cursor: not-allowed;
}

.main .content-row {
    padding: 60px 15px;
}



@media screen and (max-width: 767px) {
    .ham, .extra {
        position: fixed;
        width: 100vw;
        height: 100vh;
    }
    .ham {
        left: -100vw;
        background-color: darkslategray;
        color: white;
    }

    .main {
        position: relative;
    }
    
    .extra {
        left: 100vw;
        top: 0;
        background-color: rgb(19, 41, 41);
        color: white;
    }
}